<!DOCTYPE html>
<html lang="tr">
<head>
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/templates/css/nav.css">
    <title>Sample Header Here</title>
</head>
<body>
<!-- If you want to use nav bar buttons, you can use nav.css -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text">Sample Employee Record App via Spring Boot, ThymeLeaf and H2-DB</p>
    </div>
</nav>
</body>
</html>