<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" lang="tr">
<head>
    <title>Spring Boot CRUD Example - All Employees Page</title>
</head>
<body>
<div layout:fragment="content">

    <div class="row" style="margin-bottom:50px;">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title" align="center">All Employees</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="btn-success">
                            <th>Name</th>
                            <th>Job</th>
                            <th>Salary</th>
                            <th>Operations</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(allEmployees)}" class="btn-warning">
                            <td colspan="4" align="center">No Employee Registered Yet!!!</td>
                        </tr>
                        <tr th:each="emp : ${allEmployees}">
                            <td th:text="${emp.empName}"></td>
                            <td th:text="${emp.empDesignation}"></td>
                            <td th:text="${emp.empSalary}"></td>
                            <td align="center">
                                <a th:href="@{/employee/edit/{id}(id=${emp.id})}"><span
                                        class="glyphicon glyphicon-edit"></span></a> &nbsp; &nbsp;
                                <a th:href="@{/employee/delete/{id}(id=${emp.id})}"><span
                                        class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center;">
                        <a th:href="@{/new-employee}">
                            <span class="glyphicon glyphicon-plus-sign"> Add </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>